name: Terraform CI
permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  terraform:
    runs-on: self-hosted
    env:
      PM_API_TOKEN_ID: ${{ vars.PM_API_TOKEN_ID }}
      PM_API_TOKEN_SECRET: ${{ secrets.PM_API_TOKEN }}
      TF_VAR_cloudinit-example_root-password: ${{ secrets.CI_EXAMPLE_ROOT_PASS }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v6
      with:
        ref: ${{ github.event.pull_request.head.ref }}

    - name: Set up Node.js
      uses: actions/setup-node@v6
      with:
        node-version: '20'

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        cli_config_credentials_token: ${{ secrets.HCP_API_TOKEN }}

    - name: Terraform Init
      working-directory: terraform/deployments/home-lab
      run: terraform init -input=false

    - name: Terraform Validate
      working-directory: terraform/deployments/home-lab
      run: terraform validate

    - name: Terraform Plan
      working-directory: terraform/deployments/home-lab
      run: terraform plan -input=false -out tfplan

    #   - name: Terraform Apply
    #     if: github.ref == 'refs/heads/main'
    #     run: terraform apply -input=false tfplan
