name: Terraform CI
permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  terraform:
    runs-on: self-hosted
    env:
      PM_API_TOKEN_ID: ${{ vars.PM_API_TOKEN_ID }}
      PM_API_TOKEN_SECRET: ${{ secrets.PM_API_TOKEN }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v6
      with:
        ref: ${{ github.event.pull_request.head.ref }}

    - name: Set up Node.js
      uses: actions/setup-node@v6
      with:
        node-version: '20'

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        cli_config_credentials_token: ${{ secrets.HCP_API_TOKEN }}

    - name: Terraform Init
      run: |
        cd terraform/deployments/home-lab
        terraform init -input=false

    #   - name: Terraform Plan
    #     run: terraform plan -input=false -out tfplan

    #   - name: Terraform Apply
    #     if: github.ref == 'refs/heads/main'
    #     run: terraform apply -input=false tfplan
